body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
}

.contenedor {
  background: white;
  padding: 25px;
  max-width: 450px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #555;
}

#mensaje {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  display: none;
}

.azul {
  background-color: #dbeafe;
  color: #1d4ed8;
  border: 2px solid #1d4ed8;
}

.rosado {
  background-color: #fce7f3;
  color: #db2777;
  border: 2px solid #db2777;
}

.error {
  background-color: #fee2e2;
  color: #b91c1c;
  border: 2px solid #b91c1c;
}